.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
}

/*Conteúdo da Página*/
.formulario__container {
    background-color: #FFFF;
    width: 100%;
    max-width: 65%;
    padding: 20px 30px 20px 30px; 
    border-radius: 8px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
    animation: fade-in 4s;
}

.formulario__title-box {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #E0E0E0; 
}

.formulario__title-box span {
    font-size: 1.5em;
    font-weight: 500;
    color: #414141;
}

.input-group {
    margin-bottom: 16px;
}

label {
    display: block; 
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #414141;
}

input[type="text"], 
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #595959; 
    background-color: #FAFAFA;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 1em;
    outline: none; 
}

.formulario__actions {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 30px;
}

.btn-group {
    display: flex;
    gap: 10px; 
}

.btn {
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn-cancelar-cadastro {
    background-color: #6C757D; 
    color: white;
}

.btn-cancelar-cadastro:hover {
    background-color: #575e64; 
    color: white;
}

.btn-cadastrar-cliente {
    background-color: #70A297; 
    color: white;
}

.btn-cadastrar-cliente:hover {
    background-color: #5A877E; 
}

.link-ver-clientes {
    font-size: 0.9em;
    font-weight: 600;
    color: #70A297; 
    text-decoration: none; 
    transition: 0.3s;
}

.link-ver-clientes:hover {
    color: #648f85; 
    transform: scale(1.05);
}